@import './table.mixin.scss';

.actionButtons {
    display: flex;

    .data {
        @include table-action('../assets/data.svg');
    }

    .delete {
        @include table-action('../assets/delete.svg');
    }

    .edit {
        @include table-action('../assets/edit.svg');
    }
}

.button {
    background-color: rgb(5, 150, 105);
    padding: 0.5rem;
    border: none;
    border-radius: 0.4rem;
    margin: 1rem auto 0;
    display: block;
    color: white;
    font-weight: 600;
    transition: background-color 0.2s, color 0.2s;


    &:hover {
        cursor: pointer;
        background-color: white;
        color: rgb(5, 150, 105);
    }
}